.wrapper{
    height: 100%;
    display: grid;
    grid-template-columns: 180px 180px 140px 150px 130px;
    gap: 20px;
    padding-right: 10px;
    font-size: 20px;
    padding: 5px 40px;
}
.wrapper>span{
    word-wrap: break-word;
}